/2/Test/nbproject/private/
/2/Test/build/
/2/Excercise3/nbproject/private/
/2/Excercise3/build/
/4/Excercise4/nbproject/private/
/4/Excercise4/build/
/5/Excercise5/nbproject/private/
/5/Excercise5/build/
/6/excercise6/nbproject/private/
/6/excercise6/build/
/6/excercise6/dist/
/7/excercise7/nbproject/private/
/7/excercise7/build/
/8/excercise8/nbproject/private/
/8/excercise8/build/
/9/exercise9/nbproject/private/
/9/exercise9/build/
/10/exercise10/nbproject/private/
/10/exercise10/build/
/11/exercise11/nbproject/private/
/11/exercise11/dist/
/11/exercise11/build/
/12/exercise12/nbproject/private/
/12/exercise12/build/
/12/exercise12/dist/
/13/Exercise13/nbproject/private/
/13/Exercise13/build/
13/Exercise13/src/exercise13_practice/

13/Exercise13/src/buffer/
/14/Exercise14/nbproject/private/
/Exercise14/nbproject/private/
/TryOut/build/
/TryOut/nbproject/private/
/Exercise14/build/
/15/Exercise15/nbproject/private/
/15/Exercise15/build/