/2/Test/nbproject/private/
/2/Test/build/
/2/Excercise3/nbproject/private/
/2/Excercise3/build/
/4/Excercise4/nbproject/private/
/4/Excercise4/build/
/5/Excercise5/nbproject/private/
/5/Excercise5/build/
/6/excercise6/nbproject/private/
/6/excercise6/build/
/6/excercise6/dist/
/7/excercise7/nbproject/private/
/7/excercise7/build/
/8/excercise8/nbproject/private/
/8/excercise8/build/
/9/exercise9/nbproject/private/
/9/exercise9/build/